In [51]:
import pandas as pd
from scipy import sparse

In [52]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
ratings = pd.merge(movies,ratings)
ratings.head(25)

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
5,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,18,3.5,1455209816
6,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,4.0,965705637
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,21,3.5,1407618878
8,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,27,3.0,962685262
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,31,5.0,850466616
10,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,32,3.0,856736119
11,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,33,3.0,939647444
12,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,40,5.0,832058959
13,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,43,5.0,848993983
14,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,44,3.0,869251860
15,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,45,4.0,951170182
16,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,46,5.0,834787906
17,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,50,3.0,1514238116
18,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,54,3.0,830247330
19,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,57,5.0,965796031
20,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,63,5.0,1443199669
21,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,64,4.0,1161520134
22,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,66,4.0,1104643957
23,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,68,2.5,1158531426
24,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,71,5.0,864737933

In [53]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
ratings = pd.merge(movies,ratings).drop(['genres','timestamp'],axis=1)
print(ratings.shape)

(100836, 4)

In [54]:
ratings.head(25)

    movieId             title  userId  rating
0         1  Toy Story (1995)       1     4.0
1         1  Toy Story (1995)       5     4.0
2         1  Toy Story (1995)       7     4.5
3         1  Toy Story (1995)      15     2.5
4         1  Toy Story (1995)      17     4.5
5         1  Toy Story (1995)      18     3.5
6         1  Toy Story (1995)      19     4.0
7         1  Toy Story (1995)      21     3.5
8         1  Toy Story (1995)      27     3.0
9         1  Toy Story (1995)      31     5.0
10        1  Toy Story (1995)      32     3.0
11        1  Toy Story (1995)      33     3.0
12        1  Toy Story (1995)      40     5.0
13        1  Toy Story (1995)      43     5.0
14        1  Toy Story (1995)      44     3.0
15        1  Toy Story (1995)      45     4.0
16        1  Toy Story (1995)      46     5.0
17        1  Toy Story (1995)      50     3.0
18        1  Toy Story (1995)      54     3.0
19        1  Toy Story (1995)      57     5.0
20        1  Toy Story (1995)      63     5.0
21        1  Toy Story (1995)      64     4.0
22        1  Toy Story (1995)      66     4.0
23        1  Toy Story (1995)      68     2.5
24        1  Toy Story (1995)      71     5.0

In [55]:
userRatings = ratings.pivot_table(index=['userId'],columns=['title'],values='rating')
userRatings.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
userRatings = userRatings.dropna(thresh=7, axis=1).fillna(0) #axis=1 coz column is considered 
userRatings.head()

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [57]:
userRatings = ratings.pivot_table(index=['userId'],columns=['title'],values='rating')
userRatings.head()
print("DATA CONSIDERED BEFORE APPLYING THRESH: ",userRatings.shape)
userRatings = userRatings.dropna(thresh=10, axis=1).fillna(0,axis=1)  #use of dropna
print("DATA CONSIDERED AFTER APPLYING THRESH: ",userRatings.shape)

DATA CONSIDERED BEFORE APPLYING THRESH:  (610, 9719)
DATA CONSIDERED AFTER APPLYING THRESH:  (610, 2269)

In [58]:
#PEARSON CORREALTION ALGORITHM USED BELOW TO FIND OUT CORRELATION BETWEEN ONE AND ANOTHER MOVIE.
#VALUE OF CORRELATION IS 1 FOR SAME INPUTS ie CORRELATION BETWEEN MOVIE a AND MOVIE a will be unity is 1.
correlation_Matrix = userRatings.corr(method='pearson')    
correlation_Matrix.head(150)

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",1.000000,0.063117,-0.023768,0.143482,0.011998,0.087931,0.224052,0.034223,0.009277,0.008331,...,0.017477,0.032470,0.134701,0.153158,0.101301,0.049897,0.003233,0.187953,0.062174,0.353194
(500) Days of Summer (2009),0.063117,1.000000,0.142471,0.273989,0.193960,0.148903,0.142141,0.159756,0.135486,0.200135,...,0.374515,0.178655,0.068407,0.414585,0.355723,0.252226,0.216007,0.053614,0.241092,0.125905
10 Cloverfield Lane (2016),-0.023768,0.142471,1.000000,-0.005799,0.112396,0.006139,-0.016835,0.031704,-0.024275,0.272943,...,0.242663,0.099059,-0.023477,0.272347,0.241751,0.195054,0.319371,0.177846,0.096638,0.002733
10 Things I Hate About You (1999),0.143482,0.273989,-0.005799,1.000000,0.244670,0.223481,0.211473,0.011784,0.091964,0.043383,...,0.243118,0.104858,0.132460,0.091853,0.158637,0.281934,0.050031,0.121029,0.130813,0.110612
"10,000 BC (2008)",0.011998,0.193960,0.112396,0.244670,1.000000,0.234459,0.119132,0.059187,-0.025882,0.089328,...,0.260261,0.087592,0.094913,0.184521,0.242299,0.240231,0.094773,0.088045,0.203002,0.083518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Arachnophobia (1990),0.337768,0.048700,-0.017668,0.113110,0.059223,0.087749,0.178424,0.047396,-0.047001,-0.049515,...,0.105330,0.018669,0.166445,0.130317,0.105454,0.168964,-0.046080,0.109497,0.054813,0.178216
Argo (2012),0.007309,0.305931,0.250095,0.099294,0.102491,0.087188,0.057864,0.149255,0.262410,0.297372,...,0.301284,0.511188,0.071154,0.370665,0.400799,0.246879,0.173963,0.043006,0.178030,0.026449
"Aristocats, The (1970)",0.100540,0.102387,-0.009369,0.211193,0.105522,0.238089,0.311633,0.041718,0.159746,-0.046426,...,0.166952,0.173429,0.134583,0.095409,0.159353,0.168058,0.088591,0.020809,0.115367,0.102793
"Aristocrats, The (2005)",0.006667,0.006682,-0.018171,0.088737,-0.019374,0.004486,0.085084,0.050712,0.023377,0.022850,...,-0.022164,-0.018287,0.154443,-0.006817,-0.017003,0.123481,-0.027831,0.001628,0.150848,0.002860
Arlington Road (1999),0.053550,0.030164,-0.027912,0.133452,0.057939,0.069873,0.123779,0.016734,0.016004,0.014954,...,0.045859,0.021576,0.274487,0.062482,0.028150,0.066035,0.013978,0.318871,0.127262,0.213976

In [59]:
def get_similar(movie_name,rating):
    similar_ratings = correlation_Matrix[movie_name]*(rating-2.5)
    similar_ratings = similar_ratings.sort_values(ascending=False)
    print(type(similar_ratings))
    return similar_ratings

In [60]:
romantic_lover = [("(500) Days of Summer (2009)",5),("Alice in Wonderland (2010)",3),("Aliens (1986)",1),("2001: A Space Odyssey (1968)",2)]
similar_movies = pd.DataFrame()
for movie,rating in romantic_lover:
    similar_movies = similar_movies.append(get_similar(movie,rating),ignore_index = True)

similar_movies.head()

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
0,0.157792,2.500000,0.356179,0.684973,0.484900,0.372257,0.355353,0.399389,0.338715,0.500338,...,0.936288,0.446637,0.171018,1.036463,0.889309,0.630565,0.540017,0.134034,0.602730,0.314763
1,-0.016276,0.203998,0.126834,0.113241,0.092218,0.085790,0.072825,0.097794,0.083822,0.084897,...,0.159907,0.085502,0.011564,0.176888,0.168302,0.121710,0.072590,0.025695,0.081764,0.027540
2,-0.304722,-0.062634,-0.214700,-0.118754,-0.037059,-0.063992,-0.170195,-0.280090,-0.016283,-0.102493,...,-0.147339,-0.162387,-0.368712,-0.281119,-0.263686,-0.228562,-0.144292,-0.410899,-0.242935,-0.238410
3,-0.102988,-0.056808,-0.049655,-0.042987,-0.021729,-0.055422,-0.051115,-0.097954,-0.061595,-0.070398,...,-0.075325,-0.048607,-0.128795,-0.175166,-0.098088,-0.074205,-0.049626,-0.153017,-0.082048,-0.091432

In [61]:
similar_movies.sum().sort_values(ascending=False).head(30)

(500) Days of Summer (2009)                            2.584556
Alice in Wonderland (2010)                             1.395229
Silver Linings Playbook (2012)                         1.254800
Yes Man (2008)                                         1.116264
Adventureland (2009)                                   1.112235
Marley & Me (2008)                                     1.108381
About Time (2013)                                      1.102192
Crazy, Stupid, Love. (2011)                            1.088757
50/50 (2011)                                           1.086517
Help, The (2011)                                       1.075963
Up in the Air (2009)                                   1.053037
Holiday, The (2006)                                    1.034470
Friends with Benefits (2011)                           1.030875
Notebook, The (2004)                                   1.025880
Easy A (2010)                                          1.015771
Secret Life of Walter Mitty, The (2013)                0.997979
Perks of Being a Wallflower, The (2012)                0.967425
Toy Story 3 (2010)                                     0.963276
Ugly Truth, The (2009)                                 0.959079
Harry Potter and the Half-Blood Prince (2009)          0.954180
Step Brothers (2008)                                   0.951435
Bridesmaids (2011)                                     0.943164
Hitch (2005)                                           0.940182
Harry Potter and the Deathly Hallows: Part 2 (2011)    0.921818
Grand Budapest Hotel, The (2014)                       0.920877
Curious Case of Benjamin Button, The (2008)            0.906800
Hangover, The (2009)                                   0.900977
Gone Girl (2014)                                       0.897648
Descendants, The (2011)                                0.894977
Moneyball (2011)                                       0.894910
dtype: float64

In [62]:
action_lover = [("Amazing Spider-Man, The (2012)",5),("Mission: Impossible III (2006)",4),("Toy Story 3 (2010)",2),("2 Fast 2 Furious (Fast and the Furious 2, The) (2003)",4)]
similar_movies = pd.DataFrame()
for movie,rating in action_lover:
    similar_movies = similar_movies.append(get_similar(movie,rating),ignore_index = True)

similar_movies.head(10)
similar_movies.sum().sort_values(ascending=False).head(30)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

Amazing Spider-Man, The (2012)                           3.233134
Mission: Impossible III (2006)                           2.874798
2 Fast 2 Furious (Fast and the Furious 2, The) (2003)    2.701477
Over the Hedge (2006)                                    2.229721
Crank (2006)                                             2.176259
Mission: Impossible - Ghost Protocol (2011)              2.159666
Hancock (2008)                                           2.156098
The Amazing Spider-Man 2 (2014)                          2.153677
Hellboy (2004)                                           2.137518
Snakes on a Plane (2006)                                 2.137396
Jumper (2008)                                            2.129716
Chronicles of Riddick, The (2004)                        2.121689
Tron: Legacy (2010)                                      2.111843
Fantastic Four (2005)                                    2.083022
X-Men: The Last Stand (2006)                             2.077530
Wreck-It Ralph (2012)                                    2.067907
Kung Fu Hustle (Gong fu) (2004)                          2.067457
Godzilla (2014)                                          2.061653
Incredible Hulk, The (2008)                              2.050104
Quantum of Solace (2008)                                 2.016189
Captain America: The First Avenger (2011)                2.008849
World War Z (2013)                                       2.005536
Thor (2011)                                              2.002272
S.W.A.T. (2003)                                          1.991985
Predators (2010)                                         1.987758
Thor: The Dark World (2013)                              1.985323
Fast and the Furious, The (2001)                         1.977954
Dredd (2012)                                             1.967680
Fast & Furious (Fast and the Furious 4, The) (2009)      1.964178
Rundown, The (2003)                                      1.946526
dtype: float64